<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Title -->
    <title>Gymify - Dashbaord</title>
    <!-- favicon -->
    <link rel="shortcut icon" href="/static/images/whitelogo.png" type="image/x-icon">

    <!-- Flaticons -->
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.2.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.2.0/uicons-thin-rounded/css/uicons-thin-rounded.css'>
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-straight/css/uicons-regular-straight.css'>
    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.1.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-straight/css/uicons-regular-straight.css'>
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.1.0/uicons-solid-straight/css/uicons-solid-straight.css'>
    <link rel='stylesheet'
        href='https://cdn-uicons.flaticon.com/2.1.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>


    <!-- Poppins font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">

    <!-- Sora Font for Heading -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Chelsea+Market&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Sora:wght@100..800&display=swap"
        rel="stylesheet">

    <!-- CSS -->
    <link rel="stylesheet" href="/templates/Lading Page/style.css">

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<style>
    .sora{
        font-family: "Sora", sans-serif;
    }
    *{
        color: #fff;
    }
</style>
<body class="bg-[#000]">
    <!-- Navigation Bar -->
    <header class="w-[100%] fixed flex items-center justify-between px-[20px] md:px-[50px] xl:px-[100px] p-[10px] lg:p-[20px] border-b border-[#151515] bg-black z-[100]">
        <div class="flex items-center gap-[80px]">
            <div class="flex items-center gap-[10px]">
                <img src="/static/images/whitelogo.png" alt="" class="w-[25px]">
                <h1 class="text-[20px] sora font-medium">Gymify</h1>
            </div>
            <div class="hidden lg:flex items-center gap-[35px]">
                <a href="" class="flex items-center gap-[8px]"> Solution <i class="fi fi-rr-angle-small-down relative top-[3px]"></i></a>
                <a href="" class="flex items-center gap-[5px]"> Pricing</a>
                <a href="" class="flex items-center gap-[5px]"> Resources <i class="fi fi-rr-angle-small-down relative top-[3px]"></i></a>
                <a href="" class="flex items-center gap-[5px]"> What's new <i class="fi fi-rr-angle-small-down relative top-[3px]"></i></a>
            </div>
        </div>
        <div class="hidden lg:flex items-center gap-[20px]">
            <button class="px-[30px] h-[40px] border-[2px] border-[#151515] hover:bg-[#151515] sora">Log in</button>
            <button class="px-[30px] h-[40px] bg-[#fff] border-[2px] border-[#151515] text-[#000] sora font-semibold flex items-center gap-[10px]">Sign up <i class="fi fi-rr-arrow-right text-[#000] text-[20px] relative top-[3px]"></i></button>
        </div>
        <div class="lg:hidden w-[45px] h-[45px] flex items-center justify-center cursor-pointer">
            <i class="fi fi-rr-menu-burger text-[20px] relative top-[3px]"></i>
        </div>
    </header>
    <!-- <div id="sidebar" class="fixed top-0 right-0 h-[100vh] w-[300px] bg-black z-[100]  ">

    </div> -->
    <section id="home" class="relative top-[180px]">
        <div class="flex items-center gap-[30px] justify-center flex-col">

            <h1 class="text-center text-[8vw] lg:text-[55px] sora font-bold leading-[65px] ">Transforming Fitness <br>Elevating Wellness for All</h1>
            <p class="text-center lg:w-[50%]">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ipsam perferendis ex sed fuga at vel laboriosam, dolores autem veritatis assumenda! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iste veniam, voluptatem</p>
            <button class="px-[30px] h-[45px] bg-[#fff] border-[2px] border-[#151515] text-[#000] sora font-semibold flex items-center gap-[10px] relative z-[30]">Get Started<i class="fi fi-rr-arrow-right text-[#000] text-[20px] relative top-[3px]"></i></button>
        </div>
        <div class="w-[70%] flex items-center justify-center relative left-[15%] top-[40px]">
            <div id="circle1" class="w-[400px] h-[400px] bg-blue-600 absolute left-0 top-0 blur-[200px] z-10"></div>
            <img src="/static/images/dashboard.png" alt="" class="w-[100%] rounded-[20px] relative z-[30]">
            <div id="circle2" class="w-[400px] h-[400px] bg-red-600 absolute right-0 bottom-0 blur-[200px] z-10"></div>
        </div>
    </section>
</body>
</html>