<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS -->
    <link rel="stylesheet" href="/static/css/index.css">

    <!-- Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body>
    <section id="navbar" class="absolute w-full h-[8%] bg-gray-400">
        <!-- Navbar content -->
        Navbar
    </section>
    
    <section id="mainSection" class="absolute top-[8%] flex w-[100%] h-[92%]">
        <section id="sidebar" class="fixed w-[20%] bg-gray-300 h-[100%]">
            <!-- Sidebar content -->
            <p>Sidebar</p>
        </section>
        <section id="content" class="absolute left-[20%] w-[80%] bg-gray-400 h-[100%]">
            <!-- Content section content -->
            <p>Main Content</p>
        </section>
    </section>
    
</body>
</html>